:root {
  --background-color2: #002b2f;
  --background-color: #003339;
  --primary-color: #FF4081;
  --secondary-color: #00BCD4;
  --accent-color: #FFC107;
  /* #5fa55a
  #01b4bc
  #f6d51f
  #fa8925
  #fa5457 */
}

/* OTHER STYLES */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased; 
  -moz-font-smoothing: antialiased; 
  -o-font-smoothing: antialiased;
  background: linear-gradient(137.5deg, var(--background-color) 33%, var(--background-color2));
  background-attachment: fixed;
  font-family: 'Lato', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

nav.top {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 50;
  backdrop-filter: blur(6px);

  display: flex;
  justify-content: flex-end;
  align-items: right;

  text-transform: uppercase;
  font-weight: 400;
  padding: 1em;
}
nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
}
nav li a:hover{
  font-weight: 700;
  /* text-decoration: underline; */
}


body.home main {
  padding: 29vw 8vw 0 8vw;
}

main {
  
}

#hero-container {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
}

#hero-container > h3 {
  color: rgba(255, 255, 255, 0.85);
  font-family: 'Covered By Your Grace', cursive;
  font-size: 7vw;
  margin: 0.4vw;
  padding: 0;
  position: absolute;
  z-index: 51;
}

#hero-container > #persona > h1 {
  font-family: 'Teko', sans-serif;
  font-size: 22vw;
  margin: 0;
  padding: 0.5vw 1vw 0 5vw;
  position: absolute;
  -webkit-text-fill-color: transparent;
  background: none;
  align-self: auto;
  color: transparent;
}
#hero-container > #persona > h1.up {
  -webkit-text-stroke: 0.06vw var(--secondary-color);
  text-stroke: 0.04vw var(--secondary-color);
  padding: 0.0vw  0.4vw 0.6vw 5.4vw;
}
#hero-container > #persona > h1.down {
  -webkit-text-stroke: 0.06vw var(--accent-color);
  text-stroke: 0.06vw var(--accent-color);
  padding: 0.8vw 0 0 4.4vw;
}
#hero-container > #persona > h1.doubledown {
  -webkit-text-stroke: 0.06vw var(--primary-color);
  text-stroke: 0.06vw var(--primary-color);
  padding: 1.2vw 0 0 4vw;
}

#hero-container > #persona.fabricator > h1.main {   
  background-image: url("/images/hero/hinges.jpeg");
  background-position: 40% 60%;
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}

