:root {
  --s3: 16px;
  --swatch--dark-raisin: #262a3b;
  --s2: 12px;
  --s1: 8px;
  --swatch--grey-7: #5b5d6b;
  --swatch--floral-white: #fffcf7;
  --swatch--crono-orange: #ff6733;
  --s4: 24px;
  --s6: 48px;
  --s9: 120px;
  --s8: 96px;
  --s80: 80px;
  --s5: 32px;
  --s7: 64px;
  --swatch--jade-lake: #44d07b;
  --swatch--light-green: #d5f3df;
  --swatch--sky-blue: #1ccad7;
  --swatch--blue-2: #b0e9ee;
  --swatch--snow-white: #fafbff;
  --swatch--crono-gold: #ffad00;
  --swatch--true-white: white;
  --radius--md: 16px;
  --radius--lg: 24px;
  --spacer--md: 64px;
  --spacer--sm: 32px;
  --spacer--xsm: 16px;
  --spacer--lg: 128px;
  --spacer--main: 100px;
  --swatch--grey-1: #f0f2fa;
  --swatch--dark-grey: #a9aab0;
  --swatch--blue-1: #cef1f5;
  --swatch--grey-2: #888a93;
  --waves-library--black\<deleted\|variable-d656d06e\>: #131313;
  --swatch--grey-3: #e6e8f0;
  --swatch--jungle-green: #005c5c;
  --s10: 140px;
  --s12: 384px;
  --custom-1: 56px;
  --custom-2: 80px;
  --swatch--grey: #f7f4f0;
  --swatch--light-green-2: #e8ffef;
  --waves-library--white: white;
}
